MOODLE_URL=http://localhost/moodle
MOODLE_TOKEN=changeme

KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=master
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_USERNAME=admin
KEYCLOAK_PASSWORD=admin
KEYCLOAK_ADMIN_CLIENT_SECRET=secret